# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
.env

# Testing & Linting
.mypy_cache/
.ruff_cache/
.pytest_cache/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
