# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Build & Distribution
build/
dist/
*.egg-info/
egg-info/

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Project specific
.env
.skate/config.json
results.json
results.csv
.DS_Store
